@import '../../scss/variables';

.about-container{
    position: relative;
    font-family: 'Muli',sans-serif;
    max-width: 1136px;
    margin: 0px auto 139.25px auto;

    .dotted{
        position: absolute;
        background-image: url('../../assets/dottedd.png');
        background-size: cover;
        top: 114px;
        left: -66px;
        width: 66px;
        height: 91px;
        +.dTwo{
            top: unset;
            bottom: 315px;
            left: 506px;
        }
        +.dThree{
            top: unset;
            bottom: -52px;
            left: -14px;
        }
    }



    h2{
        color: rgb(4, 141, 4);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .about-phrase{
        max-width: 271px;
        color: #666666;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
    }
}

.about-content{
    position: relative;
    display: flex;
    margin-top: 117px;
    z-index: 100;

    .blue-shadow{
        position: absolute;
        width: 550px;
        height: 350px;
        background-color: rgb(0, 82, 0);
        opacity: 0.25;
        top: 0;
        left: 0;
        border-radius: unset;
    }

    .about-image{
        width: 550px;
        max-height: 350px;
        border-radius: 10px;
        z-index: 100;
    }

    .about-p{
        max-width: 520px;
        text-align: start;
        margin-left: 46px;
        padding-top: 39px;


        h3{
            font-size: 22px;
            margin: 0;
            margin-bottom: 22px;
            font-weight: bold;
            color:rgb(5, 156, 5);
        }

        p{
            font-size: 16px;
            color: #666666;
            line-height: 156%;
            text-align: start;
        }
    }

    .blue-border{
        position: absolute;
        width: 550px;
        height: 230px;
        border-radius: 10px;
        background-color: $blue;
        opacity: 0.15;
        bottom: -20px ;
        left: -20px;
        z-index: -1;
    }

}


