@import '../../scss/variables';
.header-container{
    background-color: white;
    height: 611px;
    width: 1136px;
    margin: 0 auto;
    overflow: hidden;
}

.round-pic{
    width: 594px;
    height: 594px;
    background-image:url('../../assets/logo.png');
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    top: 53px;
    left: 837px;
    z-index: 1;
}

.blue-shadow{
    position: absolute;
    width: 794px;
    height: 794px;
    background-color: rgb(9, 73, 9);
    opacity: 0.25;
    top: -83px;
    left: 837px;
    border-radius: 50%;
    z-index: 0;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;

    .contact-us{
        margin-top: 0;
        z-index: 10;
        width: 200px;
        height: 30px;
        background-color: white;
        border: unset;
        border-radius: 10px;
        color: rgb(0, 82, 0);
        font-size: 16px;
        line-height: 30px;
        &:hover{
            cursor: pointer;
        }
    }

    .top-bar{
        width: 721px;
        display: flex;
        justify-content: space-between;
        .title {
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: rgb(0, 82, 0) ;
            font-size: 1rem;
            font-weight: 600;
        }
        .links{
            a{
                font-family: 'Muli', sans-serif;
                text-decoration: none;
                color: $gray1;
                font-size: 1rem;
                margin-right: 40px;
                &:last-of-type{
                    margin-right: 0;
                }
            }
            a:hover{
                cursor: pointer;
                border-bottom:  2px solid rgb(0, 82, 0) ;
                opacity: 0.8;
                transition: all 0.3s ease-in-out;
            }
        }


    }
}

.message{
    margin-top:78px;
    width: 598px;
    margin-bottom: 66px;
    h1{
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        line-height: 65px;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }
    p{
        margin-top: 22px;
        margin-bottom: 0;
        font-family: 'Muli',sans-serif;
        font-weight: 18px;
        line-height: 23px;
        font-size: 15px;
        text-align: start;
        color: $gray1;
    }
}



    .button{
        position: relative;
        top: 30px;
        width: 221px;
        display: flex   ;
        justify-content: center;
        align-items: center;
        background-color: rgb(2, 126, 2);
        color: white;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }






