.card-cover{
    height: 436px;
    width:  267px;
    margin: 0;
}

.card-item{
    background-color: white;
    height: 436px;
    width: 267px;
    margin: 0;
    .card{
        width: 100%;
        height: 100%;
    }
}