@import '../../scss/variables';

footer{
    max-height: 659px;
    background: #EBEEF3;
    color: $gray1;
    padding-bottom: 40px;
    border-radius: 70px;
    font-family: 'Muli', sans-serif;
}

//Footer navbar
.footer-navbar{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
    padding-top: 120px;
}

.footer-name{
    color: $gray1;
    text-decoration: none;
    flex: 0 0 250px;
    font-size: 30px;
    font-weight: bold;
}

.socials{
    flex: 0 0 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .follow-us{
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 5px;
        flex: 0 0 120px;
        color:$gray1;
        text-decoration: none;
    }
    .media{
        display: flex;
        justify-content: space-between;
        flex: 0 0 170px;
        a{
            font-size: 30px;
            color: $gray1;
        }
    }
}

//Footer Options
.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;

    .menu{
        flex: 0 0 660px;
        display: flex;
        justify-content: space-between;
        h3{
            margin: 0 0 37px 0;
            font-size: 25px;
            font-weight: bold;
        }
        ul{
            padding: 0;
        }
        li{
            list-style: none;
            margin-bottom: 23px;
            a{
                text-decoration: none;
                font-size: 16px;
                color: $gray1;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        .popular{
            width: 190px;
        }
        .hompress{
            width: 250px;
        }
        .quick{
            width: 150px;
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 370px;
        input{
            width: 100%;
            height: 56px;
            margin-bottom: 13px;
            padding-left: 26px;
            border: unset;
            border-radius: 10px;
            font-size: 20px;
            &:last-of-type{
                margin-bottom: 0;
                padding-left: 0;
                background-color: $blue;
                color: white;
                transition: background-color .2s ease-in-out;
                &:hover{
                    cursor: pointer;
                    background-color: #2365c8 ;
                }
            }
        }
    }

}

.copyright{
    text-align: center;
    margin-bottom: 71px;
}

