@import '../../../scss/variables';
.box{
    width: 280px;
    height: 254px;
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 19px 21px 19px 22px;
    margin-bottom: 10px;
    .p-box{
        font-size: 14px;
        width: auto;
        line-height: 25px;
    }
    .box-title{
        display: flex;
        justify-content: left;
        margin-bottom: 28px;

        .icon-container{
            width: 44px;
            height: 44px;
            background-color: #f6f6f6;
            border-radius: 50%;
            padding: 7px 0 0 12px;
        }

        h3{
            margin: 0 0 0 21px;
            font-size: 18px;
            line-height: 44px;
            text-align: center;
            display: inline-block;
        }
    }


    p{
        border-top: 1.5px solid #c4c4c481;
        padding-top: 20px;
        font-size: 16px;
        line-height: 26px;
        color: #666666;
        text-align: left;
    }
}